.edit-info {
    width: 80%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: auto;
}

.nav-space {
    margin-top: 70px;
    margin-bottom: 30px
}

.content {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.edit-heading {
    padding: 5px 10px;
    justify-content:space-between;
    display: flex;
    background-color: rgb(218, 218, 218);
    align-items: center;
}

.edit-content {
    padding: 10px 20px;
    float: left;
    width: 95%;
    max-width: 95%;
    min-width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.1fr;
}

.card-input {
    width: 80%;
    max-width: 85%;
    min-width: 50%;
    padding: 10px;
    border-radius: 10px;
    border-color: rgb(169, 169, 169);
    border-width: 2px;
    border-style: solid;
    display:block
}

.long {
    height: 40%;
    align-items: top;
}

.edit-content p {
    display:flex;
    justify-content: left;
    padding: 0px;
    margin: 8px
}

.quill {
    display: flex;
    flex-direction: column-reverse; 
}

.quill > .ql-toolbar {
    /* border radius of the toolbar */
    border-radius: 0px 0px 10px 10px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: rgb(225, 225, 225);
  }

.ql-container {
    /* border radius of the container and for font size*/
    height: 200px;
    border-top: 1px solid #ccc !important;
    font-size: 18px;
    background-color: white;
    padding: 8px
  }

.quill > .ql-formats button {
    /* border radius of the container and for font size*/
    padding: 0px;
    margin: 2px;
  }

.quill:focus-within .ql-toolbar {
    opacity: 1                         
}
    
.card {
    margin: 16px
}

.cardPair {
    display: grid;
    grid-template-columns: 0.05fr 1fr 1fr 0.1fr;
    column-gap: 16px;
    border-style: 1px solid black;
    padding: 10px 10px
}

.cardPair:focus-within {
    background-color: #f2f2f2;
}

.buttonContainer {
    display: none
}

.buttonContainer img {
    width: 20px;
    height: 20px;
}

.buttonContainer button {
    margin: 5px; 
}

.cardPair:focus-within .buttonContainer{
    display: block;
}

.saveButton {
    float: right;
    height: 30px;
}
