/* Searchbar */
.searchBar {
    width: 100%;
    border-radius: 14px;
    border-color: #C0C0C0;
    margin: 20px 12px;
    padding: 12px 12px;
    
    background-color: white
  }
  
  .search-wrapper {
    position: fixed;
    width: 70%;
    display: block;
    z-index: 2;
  }
  
  .home-list-item img {
    width: 35%;
    height: 35%;
    max-width: 100%;
    max-height:100%;
  }
  
  .home-list {
    justify-content: center;
    margin-top: 70px;
    overflow: scroll
  }
  
  .home-list ul {
    list-style-type: none;
  }
  
  .home-list li {
    width: 100%
  }
  
  .home-list-item {
    border-color: #C0C0C0;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    display: grid;
    align-items: center;
    justify-content: center; 
    grid-template-columns: 1.5fr 1fr;
    column-gap: 5px;
    padding: 5px 40px;
    margin: 10px 0px;
    width: 90%;
    transition: transform 0.3s;
  }
  
  .home-list-item p {
    margin: 5px 0px
  }
  
  .home-list-item h1 {
    display: inline-block
  }

  .home-list-item h2 {
    margin-bottom: 0px
  }

  .home-list-right {
    text-align: right
  }
  
  .home-list-left {
    text-align: left
  }
  
  .home-list-item:hover {
    box-shadow: 8px 8px 5px rgb(173, 173, 173);
    transform: translate(-5px, -5px)
  }
  
  .home-content {
    padding: 50px 40px 0px 40px;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
  }

  .flash-logo-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    place-items: center
  }

  .home-list-item .author {
    margin-bottom: 20px
  }